<div class="modules">
    <div class="page-header">
        <div class="row">
            <div class="col-md-2">
                <img src="images/package.png">
            </div>
            <div class="col-md-3">
                <h1>Modules</h1>
            </div>
        </div>

    </div>
    <div class="row">
        <ul>
            <li>
                Modules are containers or packages for logical parts of your application.
            </li>
            <li>
                Modules are extended with controllers, services, directives, etc.
            </li>
            <li>
                Modules can depend on other modules. Dependencies are lazily loaded and therefore can be loaded in *any* order.
            </li>
        </ul>

    </div>
    <div class="row">
        <div class="page-header">
            <h1>Defining modules</h1>
        </div>
    </div>
    <div class="row">
        <div hljs>
            var myAppModule = angular.module('myApp', []);
        </div>
    </div>
</div>
</div>

